<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
</head>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../js/index.js"></script>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">
        <img src="../images/logo.png" width="50" height="35" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategory" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Category
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownCategory">
                    <a class="dropdown-item" th:each="c : ${categories}" th:text="${c.name}"
                       th:href="@{/(page=1,category=${c.getId()})}"></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDestination" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Destination
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownDestination">
                    <a class="dropdown-item" th:each="d : ${destinations}" th:text="${d.name}"
                       th:href="@{/(page=1,destination=${d.getId()})}">
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSeason" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Season
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownSeason">
                    <a class="dropdown-item" th:each="s : ${seasons}" th:text="${s.name}"
                       th:href="@{/(page=1,season=${s.getId()})}"></a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"
                   role="button"
                   style="color: rgba(255,255,255,.5);">
                    <i class="fa fa-fw fa-user"></i>
                    <span th:text="${username}"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownSeason">
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>

        <!--<form class="form-inline my-2 my-lg-0">-->
            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
    </div>
</nav>

<h1 align="center">Holiday inspiration</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-12 my-3">
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-info" id="list">
                        List View
                    </button>
                    <button class="btn btn-danger" id="grid">
                        Grid View
                    </button>
                    <a class='btn btn-success' href="/place/add">
                        Add <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="products" class="row view-group">
        <div th:each="place, idx : ${placePage.content}" class="item col-xs-4 col-lg-4">
            <div class="thumbnail card">
                <div class="img-event">
                    <img style="height: 261px" class="group list-group-image img-fluid" th:src="@{'../images/' + ${place.imageSrc}}"
                         alt=""/>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading" th:text="${place.title}">
                        Product title</h4>
                    <p class="group inner list-group-item-text" th:text="${place.description}">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="'$' + ${place.minPrice}">
                                $21.000
                            </p>
                        </div>
                        <!--<div class="col-xs-12 col-md-6">-->
                        <div class="col-lg-12 my-3">
                            <div class="btn-group">
                                <a class="btn btn-success" th:href="@{'/place/see/' + ${place.id}}">See more</a>
                                <a class="btn btn-primary" th:href="@{'/place/edit/' + ${place.id}}">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <ul class="pagination justify-content-center" >
        <li class="page-item" th:if="${placePage.number > 0 }">
            <a class="page-link" th:href="@{/(size=${placePage.size}, page=${placePage.number})}">Previous</a>
        </li>
        <li class="page-item" th:if="${placePage.number == 0 }">
            <a class="page-link" th:href="@{/(size=${placePage.size}, page=${placePage.number + 1})}">Previous</a>
        </li>
        <li class="page-item" th:if="${placePage.totalPages > 0}"
            th:each="pageNumber : ${pageNumbers}"
            th:classappend="${pageNumber==placePage.number + 1} ? active">
            <a class="page-link"
               th:href="@{/(size=${placePage.size}, page=${pageNumber})}"
               th:text="${pageNumber}">
            </a>
        </li>
        <li class="page-item" th:if="${placePage.number < placePage.totalPages - 1}">
            <a class="page-link" th:href="@{/(size=${placePage.size}, page=${placePage.number + 2})}">Next</a>
        </li>
        <li class="page-item" th:if="${placePage.number == placePage.totalPages - 1}">
            <a class="page-link" th:href="@{/(size=${placePage.size}, page=${placePage.number + 1})}">Next</a>
        </li>
    </ul>
</div>

<br/>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Love Holidays &copy; Alexander 2019</p>
    </div>
    <!-- /.container -->
</footer>

</body>
</html>