<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Place</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">
        <img src="../../images/logo.png" width="50" height="35" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategory" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Category
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownCategory">
                    <a class="dropdown-item" th:each="c : ${categories}" th:text="${c.name}" href="#"></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDestination" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Destination
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownDestination">
                    <a class="dropdown-item" th:each="d : ${destinations}" th:text="${d.name}" href="#"></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSeason" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Season
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownSeason">
                    <a class="dropdown-item" th:each="seas : ${seasons}" th:text="${seas.name}" href="#"></a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4" th:text="${place.title}">Post Title</h1>

            <!-- Author -->
            <p class="lead">
                <a href="#" th:text="'$' + ${place.minPrice}"></a> -
                <a href="#" th:text="'$' + ${place.maxPrice}"></a>
            </p>

            <hr>

            <!-- Date/Time -->
            <i class="fas fa-cloud-sun"></i><span th:text="' Weather is: ' + ${place.weather}">Posted on January 1, 2019 at 12:00 PM</span><span>&#176;</span>

            <hr>

            <!-- Preview Image -->
            <img class="img-fluid rounded" th:src="@{'../../images/' + ${place.imageSrc}}" alt="">

            <hr>

            <!-- Post Content -->

            <p th:text="${place.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste
                ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus,
                voluptatibus.</p>

            <hr>

            <!--&lt;!&ndash; Comments Form &ndash;&gt;-->
            <!--<div class="card my-4">-->
                <!--<h5 class="card-header">Leave a Comment:</h5>-->
                <!--<div class="card-body">-->
                    <!--<form>-->
                        <!--<div class="form-group">-->
                            <!--<textarea class="form-control" rows="3"></textarea>-->
                        <!--</div>-->
                        <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; Single Comment &ndash;&gt;-->
            <!--<div class="media mb-4">-->
                <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
                <!--<div class="media-body">-->
                    <!--<h5 class="mt-0">Commenter Name</h5>-->
                    <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras-->
                    <!--purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi-->
                    <!--vulputate fringilla. Donec lacinia congue felis in faucibus.-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; Comment with nested comments &ndash;&gt;-->
            <!--<div class="media mb-4">-->
                <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
                <!--<div class="media-body">-->
                    <!--<h5 class="mt-0">Commenter Name</h5>-->
                    <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras-->
                    <!--purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi-->
                    <!--vulputate fringilla. Donec lacinia congue felis in faucibus.-->

                    <!--<div class="media mt-4">-->
                        <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
                        <!--<div class="media-body">-->
                            <!--<h5 class="mt-0">Commenter Name</h5>-->
                            <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.-->
                            <!--Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc-->
                            <!--ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="media mt-4">-->
                        <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
                        <!--<div class="media-body">-->
                            <!--<h5 class="mt-0">Commenter Name</h5>-->
                            <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.-->
                            <!--Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc-->
                            <!--ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Filters</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#" th:href="@{/(category=${place.getCategories().iterator().next().getId()})}" th:text="${pcategory}">Web Design</a>
                                </li>
                                <li>
                                    <a href="#" th:href="@{/(season=${place.getSeason().getId()})}"
                                       th:text="${pseason}">HTML</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#" th:href="@{/(destination=${place.getDestination().getId()})}"
                                       th:text="${pdestination}">JavaScript</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <!--<div class="card my-4">-->
                <!--<h5 class="card-header">Side Widget</h5>-->
                <!--<div class="card-body">-->
                    <!--You can put anything you want inside of these side widgets. They are easy to use, and feature the-->
                    <!--new Bootstrap 4 card containers!-->
                <!--</div>-->
            <!--</div>-->

        </div>
    </div>
    <!-- /.row -->
</div>

<br/>
<br/>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Love Holidays &copy; Alexander 2019</p>
    </div>
    <!-- /.container -->
</footer>

</body>
</html>